

/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
  max-height: 1px !important;
}

#titlebar {
  appearance: inherit !important;
  height: 10px;
}	

#sidebar-header {
  visibility: collapse !important;
} 

#nav-bar {
	/*margin-top: 8px;*/
}

/* make bookmarks more concentrated */

#personal-toolbar-empty-description, #PersonalToolbar .toolbarbutton-1, toolbarbutton.bookmark-item:not(.subviewbutton) {
	margin: 0px !important; 
	padding: var(--bookmark-block-padding) 2px !important; 
}

/* Remove folder icons */

 .bookmark-item[type="menu"] .toolbarbutton-icon {
	visibility: collapse !important;
}

toolbarbutton.bookmark-item[type="menu"] label.toolbarbutton-text {
  border: solid black 1px;
}